<footer>
    <!-- Marking the footer section -->
    <!-- The copyright notice -->
    <p>&copy;Copyright 2021 --- Book Store</p>
    <!-- The Reference link -->
    <a href="mailto:onlinebookservice@gmail.com">Contact: onlinebookservice@gmail.com</a>

</footer>

</html>