<%- include('layouts/header'); -%>

<body>
    <%- include('layouts/titleheader'); -%>
    <%- include('layouts/nav'); -%>
    <section class="welcome">
        <h1 id="tagline">About Us</h1>
        <h2>------------Our Story---------------</h2>
        <p>Today we are the world's largest online independent used book seller, operating with state-of-the-art 
            automation and advanced analytics in a safety-first environment.We believe in books and the power of the written word to 
            impact lives and societies across the globe, and we cherish our role in saving books to live 
            another day to educate, entertain, inspire, and transform lives.</p>
    </section>
    <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>