<%- include('layouts/header'); -%>

<body>
    <%- include('layouts/titleheader'); -%>
  <%- include('layouts/adminnav'); -%>
    <section class="admin">
        <h1>Welcome!!<br>
            Hello Admin Welcome to dashboard</h1>
    </section>
    <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>
