<%- include('layouts/header'); -%>

<body>
  <header>
    <img src="../images/booktitle.jpeg" alt="Book" width="85">
    <h2>The Story Keeper</h2>
</header>
  <%- include('layouts/nav'); -%> 
  <section>
    <div>
      <h1 id="tagline">Shopping Cart Empty !!!</h1><br>
      <a id="add" href="/" style="margin-left: 400px;">Continue Shopping</a>
    </div>
  </section>
  <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>
