<%- include('layouts/header'); -%>

<body>
  <header>
    <img src="../images/booktitle.jpeg" alt="Book" width="85">
    <h2>The Story Keeper</h2>
</header>
  <%- include('layouts/nav'); -%> 
  <section>
    <div>
      <h1 id="tagline">1 Item added to cart successfully!!!</h1><br><br>
      <a style="margin-left:150px;" id="add" href="/">Continue Shopping</a>
      <a style="margin-left:650px;" id="add" href="/viewcart">View Cart</a>
    </div>
  </section>
  <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>
