<%- include('layouts/header'); -%>

<body>
    <%- include('layouts/titleheader'); -%>
    <%- include('layouts/nav'); -%>
    <section class="welcome">
        <h1 id="tagline">Get in touch</h1>
        <h3>Interactive book Store</h3>
        <p>67 Front Street North<br>Thorold, ON<br>L2V 1X3<br>+61 396857124<br>
        <a href="mailto:onlinebookservice@gmail.com">Contact: onlinebookservice@gmail.com</a></p>
    </section>
    <div class="clear"></div>
</body>
<%- include('layouts/footer'); -%>